tbody tr:nth-of-type(3n) {
    background-color: #6276A3;
}

tbody tr:nth-of-type(5n) {
    background-color: #8AA6E5;
}

tbody tr:nth-of-type(5n):nth-of-type(3n) {
    background-color: #262E40;
    color:#6276A3;
}